<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games</title>
  </head>
  <body>
    <div>
      <h1>
        <a href="/"> ИВАШКИНЫ ИГРЫ </a>
      </h1>
    </div>
    <div>
        
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim metus,
      imperdiet elementum orci eu, commodo condimentum nisl. Sed turpis sem,
      feugiat vel bibendum a, pellentesque et elit. Ut in elit facilisis,
      ultrices lorem ut, vehicula justo. Fusce id nulla eu sapien lobortis
      fermentum. Vivamus non venenatis dolor. Etiam metus leo, lobortis a lacus
      vitae, viverra consequat ligula. Nam massa diam, gravida ac varius in,
      consequat ac ipsum. Nunc luctus sed nisi in feugiat. Etiam porta suscipit
      magna, sed viverra purus pellentesque vel. Vestibulum a tempor lorem. Nunc
      at purus in libero vehicula vehicula. In justo nisl, imperdiet ut
      consequat eu, ultricies sit amet leo. Praesent semper volutpat iaculis.
      Donec quam urna, dapibus non diam imperdiet, aliquam aliquam metus.
      Vestibulum varius suscipit augue sed ultricies. Nullam aliquet tempor
      lorem, commodo fermentum quam feugiat vitae. Suspendisse sed erat a felis
      feugiat pretium. Curabitur tempus lobortis fermentum. Orci varius natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Praesent leo quam, aliquam eget tempus quis, elementum sed elit. Mauris
      rhoncus vulputate commodo. Nunc at pulvinar neque. Vivamus gravida, nunc
      nec suscipit iaculis, sapien ligula bibendum purus, eu tempus dolor est
      consequat tellus. Pellentesque sit amet semper nisi, at facilisis mi.
      Integer eget felis id lacus congue interdum faucibus sed erat.
    </div>
  </body>
</html>
