{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
  </head>
  <body>
    <div>
      <h1>
        <a href="/"> ИВАШКИНЫ ИГРЫ </a>
      </h1>
    </div>
    <div>
        {% for game in games %}
          <div>
            <p>
              <h3>
                {{game.title}}
              </h3>
            </p>
            <p>
              {{game.created}}
            </p>
            <p>
              {{game.description|linebreaksbr}}
            </p>
            <p>
              <a href="{{game.file.url}}">скачать</a>
              
            </p>
          </div>
        {% endfor %}
    </div>
    <div id="footer">
      <p>
        Ivoshet 2022
      </p>
    </div>
  </body>
</html>
